article {
    margin: 13vh auto;
    width: fit-content;
}

article .secondary-title {
    padding: 1rem 0;
}

article p {
    max-width: 800px;
    padding-bottom: 1rem;
}

@media (max-width: 1200px) {
    article {
        margin: 13vh var(--page-inline-margin);
    }
}